<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header') -%>
    <main>
      <div class="lists">
        <p>Available Colors</p>
        <hr>

        <% if (colors_list.length) { %>
          <ul>
            <% colors_list.forEach(function(colors) { %>

              <li>
                <a href="<%= colors.url %>"><%= colors.itemColor %></a>
              </li>
              
            <% }); %>
          </ul>

        <% } else { %>
          <p>There are no colors.</p>
        <% } %>
        
      </div>
    </main>

  </body>
</html>
