<!DOCTYPE html>
<html>
<head>
    <title> <%= title %> </title>
</head>
<body>
    <header>
        <div id="headerBlackLine">&nbsp;</div>
        <div id="headerContent">
            <h4 id="logo">Inventory Management</h4>
        
       
            <nav id="nav">
                <ul>
                    <li class="linksList"><a href="/">About</a></li>
                    <li class="linksList"><a href="/item">All Items</a></li>
                    <li class="linksList"><a href="/category">All Categories</a></li>
                    <li class="linksList"><a href="/color">All Colors</a></li>
                    <li class="linksList"><a href="#">Shirts</a></li>
                    <li class="linksList"><a href="#">Pants</a></li>
                    <li class="linksList"><a href="#">Shoes</a></li>
                    <li class="linksList"><a href="#">Dresses</a></li>
                </ul>
            </nav>
       
        
            <p id="new">NEW</p>
            
        </div>
    </header>
</body>
</html>
