<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header') %>
    <main>
      <div>
        <h3>Inventory Mangement</h3>
        <p>Welcome to Invwentory Management! <br> 
          You are able to create, read, update and delete items.</p>

        <h3>Dynamic Content</h3>
        <p>Categories: <%= categories %> </p>
        <p>Items: <%= Items> </p>
      </div>
    </main>

  </body>
</html>
