@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=M+PLUS+Rounded+1c&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=M+PLUS+Rounded+1c&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');
body {
  font-family: "Roboto", sans-serif;
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#headerBlackLine{
  background-color: #3C3C3C;
  height: 27px;
  z-index: 999; 

}

#headerContent, h4{
  background-color: #FFCACD;
  margin: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #3C3C3C;
  margin: 0;

}

#logo{
  font-size: 25px;

}

.linksList{
  display: inline-block;


}

.linksList a{
  color: #3C3C3C;
  list-style: none;
  text-decoration: none;
  font-family: "Sedan", serif;
  font-size: 15px;
  padding: 20px;
  transition: all 0.3s ease 0s;
}

.linksList a:hover{
  color: aliceblue;
}

#new{
  background-color: #3C3C3C;
  color: aliceblue;
  padding: 20px;
  margin: 0;
  width: 80px;

  font-weight: bold;
  font-size: 20px;
  margin-left: 190px;
  transition: 0.3s ease 0s;
}

#new:hover{
  background-color: #232323;
}

/* INDEX PAGE STYLE */

#indexpage{
  padding: 50px 800px 0px 550px;
  font-family: "Roboto", sans-serif;
}

/* ITEMS LIST PAGE */

#page-container{
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
}

#all-items-h3
{
  padding-left: 50%;
}

#itemsDiv{
  flex: 1;
  padding: 0px 80px;
}

#items-main{
  margin: 50px;

}


.productImg{
  width:100%;
  height:300px;
  object-fit:cover;
  object-position:50% 50%;
}

.itemsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item{
  max-width: 200px;
  text-align: left;
  margin: 30px;
}

.itemName{
  text-decoration: none;
  color: #3C3C3C;
  transition: 0.3s ease 0s;
}

.itemName:hover{
  color: #ffbfc2;
}

.lists{
  padding: 50px 800px 0px 550px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.lists a{

  color: #3C3C3C;
  transition: 0.3s ease 0s;
}

.lists a:hover{
  text-decoration: none;
  color: #ffbfc2;
}

.lists li{
  margin-bottom: 5px;
}

/* ITEM DETAIL PAGE */

#itemDetailContainer{
  margin: 50px 400px;
  display: flex;
  font-size: 14px;
}

.itemImg{
  width:100%;
  display: block;
  height:600px;
  object-fit:cover;
  object-position:50% 50%;
}

#details{
  margin: 0px 50px;
}
#itemName{
  font-size: 25px;
  font-weight: 600;
}

#itemStock{
  margin-bottom: 50px;
}

#itemPrice{
  color: #FF8E75;
  font-size: 22px;
}

#itemDescription{
  font-size: 16px;
  font-weight: 500;
}

#ct{
  margin: 50px 0px;
}
.edlinks{
  
  padding: 20px;
  background-color: #3C3C3C;
  color: #FFCACD;
  transition: 0.3s ease 0s;
  text-decoration: none;
  min-width: 200px;
}

.edlinks:hover{
  background-color: #FFCACD;
  color: #3C3C3C;
}

.itemhr{
 
  width: 50%;
  float: left;
}

/* CATEGORY DETAIL PAGE */

#category-detail-coontainer{
  display: flex;

}

#category-title{
  text-align: center;
  font-size: 40px;
  padding: 40px;
  font-weight: 500;
}

#category-title hr{
  width: 80%;
}

#items-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin: 0px 200px;
}

.itemDiv{
  padding: 0px 30px;
  max-width: 200px;
  
}

.categoryItemsImg{
  width:100%;

  display: block;
  height:300px;
  object-fit:cover;
  object-position:50% 50%;
}

.categoryitemName{

  text-decoration: none;
  color: #3C3C3C;
  transition: 0.3s ease 0s;
}
.categoryitemName:hover{

  text-decoration: none;
  color: #FFCACD;
  transition: 0.3s ease 0s;
}

/* COLORS DETAIL PAGE */

#color{
  padding: 50px;
  display: flex;
  flex-direction: row;
}
#colorp{
  width: 50px;
  height: 50px;
}

#colorname{
  padding: 10px;
  font-size: 20px;
}

#ct-links-div, #create-ct-div, #create-item-div{
  margin: 50px 40%;
}

.ctlinks, #create-category-btn, #create-item-btn{
  
  padding: 20px;
  background-color: #3C3C3C;
  color: #FFCACD;
  transition: 0.3s ease 0s;
  text-decoration: none;
  min-width: 200px;
  margin: 10px;

}

.ctlinks:hover, #create-category-btn:hover, #create-item-btn:hover {
  background-color: #FFCACD;
  color: #3C3C3C;
}

#create-ct-div{
  margin: 100px 40%;
}
#create-item-div{
  margin: 50px 45%;
}